<!DOCTYPE html> 
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml"> 
  <head> 
    <meta charset="utf-8"> 
    <title>{{with .Title}}{{.}} « {{end}}Daniel Krech</title>
    <meta property="og:title" content="{{.Title}}"/>
    <meta property="og:site_name" content="Daniel Krech"/>
    <meta property="fb:admins" content="756782588"/>{{with .Recipe}}
    <meta property="fb:app_id" content="255665227781659">
    <meta property="og:url" content="http://www.eikeon.com/recipe/{{.Id}}/"/>
    <meta property="og:type" content="food"/>{{with .Photo}}
    <meta property="og:image" content="http://www.eikeon.com{{.}}"/>{{end}}
    <meta property="og:description"
          content="{{.Description}}"/>{{end}}{{with .Stylesheet}}
    <style type="text/css">{{.}}</style>{{end}}
  </head> 
  <body> 
    <header> 
      <nav> 
        <ul>
          <li><a href="/">Daniel Krech</a></li>
          <li><a href="/recipes/">Recipes</a></li>
        </ul>
      </nav> 
    </header>{{with .NotFound}}
    <article>
      <header>
        <h1>Page Not Found</h1>
      </header>
      <p><a href="/">Daniel Krech</a></p>
    </article>{{end}}{{if .Recipes}}
    <article>
      <header>
        <h1>{{.Title}}</h1>
      </header>
      <ul>{{range .Recipes}}
        <li><a href="/recipe/{{.Id}}/">{{.Name}}</a></li>{{end}}
      </ul>
    </article>{{end}}{{with .Recipe}}
    <article itemscope itemtype="http://data-vocabulary.org/Recipe">
      <div style="display: table">
        <div style="display: table-cell">
      <header>
        <h1 itemprop="name">{{.Name}} Recipe</h1>
      </header>
      <p>{{.Description}}</p>
      <hr>{{if .Ingredients}}
      <section class="ingredients">
        <ul class="ingredients">{{range .Ingredients}}
          <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient"><span itemprop="name">{{.}}</span></li>{{end}}
        </ul>
      </section>{{end}}{{if .Directions}}
      <section class="directions" itemprop="instructions">{{range .Directions}}
          <p>{{.}}</p>{{end}}
      </section>{{end}}{{if .Photo}}
      <img itemprop="photo" src="{{.Photo}}"/>{{end}}{{if .Attributes}}
      <dl class="attributes">{{range $key, $value := .Attributes}}
	<dt>{{$key}}</dt>
	<dd>{{$value}}</dd>{{end}}
      </dl>{{end}}

        </div>
        <aside>
          <div id="fb-root" style="float: right"></div>
          <script src="http://connect.facebook.net/en_US/all.js#appId=255665227781659&amp;xfbml=1"></script>
          <fb:like href="http://www.eikeon.com/recipe/{{.Id}}/" send="true" width="450" show_faces="true" font=""></fb:like>
          <fb:comments href="http://www.eikeon.com/recipe/{{.Id}}/" num_posts="3" width="450"></fb:comments>
        </aside>
      </div>
    </article>{{end}}
    <footer>
      <p>&#169; 2010&#8211;2012 <a href="http://www.eikeon.com/">Daniel Krech</a> 食品当作药品</p>
    </footer>
  </body> 
</html>
